@page "/baking"

@inject IJSRuntime JSRuntime

<h3>Baking Record</h3>
<hr/>
<form onsubmit="return false">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label">SN</label>
                <input class="form-control" @onkeypress="KeyboardEventHandler" @bind-value="@theValue" @bind-value:event="oninput" />
            </div>
        </div>
    </div>
</form> 
@foreach(string _ in scanned)
{
    <ul>
        <li>@_</li>
    </ul>
}

    @code {

        List<string> scanned = new List<string>();
        string theValue;

        protected void KeyboardEventHandler(KeyboardEventArgs args)
        {
            if (args.Key == "Enter")
            {
                scanned.Add(theValue);
                theValue = "";
            }
            else
            {
            }
        }
    }