@*@page "/baking"

<h3>Baking Record</h3>
<hr/>

<form onsubmit="return false">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="SA_SN" class="control-label">SA_SN</label>
                <input for="SA_SN" class="form-control" @onkeydown="KeyboardEventHandler"/>
            </div>
        </div>
    </div>
</form>


    @code {

        //protected async Task KeyboardEventHandler(KeyboardEventArgs args)
        //{
        //    if (args.Key == "Enter")
        //    {
        //        await
        //    }
        //    else
        //    {

        //    }

        //}
    }*@